<!DOCTYPE html>
<html>
<style src="/home/abdallah/Documents/atlassian/bootstrap-4.3.1-dist/css/bootstrap.css"></style>
<head>
    <title>ProductPush</title>
</head>

<body>
<h1> ProductPush</h1>
<div class="jumbotron">
<h2>Who are you?</h2>
    <button><a href="/users/new">Admin</a></button><br><br>
    <button><a href="/users">Industry</button>
</div>
</body>

</html>
