<h2>Products</h2>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
      <th>Quantity</th>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.product %></td>
      <td><%= user.quantity %></td>
      <td><%= user.price %></td>
      <td><%= user.description %></td>

      <td class="text-right">
        <span><%= link "Book", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs" %></span>
        <!--<span><%= link "Edit", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      -->
      </td>
    </tr>
<% end %>
  </tbody>
</table>


