<h2>Product Details</h2>

<ul>

  <li>
    <strong>Product:</strong>
    <%= @user.product %>
  </li>

  <li>
    <strong>Quantity:</strong>
    <%= @user.quantity %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @user.price %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @user.description %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<br><br>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
